body {
  //padding-top: 0;
}

//.header {
//  margin-bottom: 70px;
//}

div.choice {
  font-size: 20px;
}

/* Pagination styling */

.pagination {
  display: inline-block;
  padding-right: 0;
  margin: 20px 0;
  border-radius: 4px;
  float: none;
}

.pagination > li {
  display: inline
}

.pagination > li {
  padding: 5px 8px;
}

.pagination > li.active {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #0275d8;
  border-color: #0275d8;
}

.navbar-inverse {
  background-color: #4186ff;
  border-color: #4186ff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #186cff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #2977ff;
}

.panel-default {
}

.btn-primary {
  color: #ffffff;
  background-color: #4186ff;
  border-color: #f7f7f7;
}

.btn {
  //border-radius: 20px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0057ef;
  border-color: #7b7b7b;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #4186ff;
  border-color: #486986;
}

legend {
  font-size: 16px;
  color: #848484;
  border-bottom: 1px solid #e5e5e5;
}

.semi-title {
  font-size: 16px;
  font-weight: 600;
}

.panel-default > .panel-heading {
  text-align: center;
}

.panel-heading > h1 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.badge {
  background-color: #ff8e8e;
}

.panel-heading {
  padding: 10px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

ul.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags-list li {
  padding: 5px;
  border-bottom: 1px solid #dedede;
}

.pagination > li.active {
  background: none;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #1a6bf9;
}

.date {
  font-weight: 100;
  color: #888;
  font-size: 0.6em;
}

.author {
  color: #1a6bf9;
  font-weight: 600;
  font-size: 1.2em;
  border-bottom: 1px solid #dedede;
  border-radius: 3px;
  padding: 12px;
  background: #f6f6f6;
}

.media {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #efefef;
}

ul.comments-list {
  padding: 0;
}

.media-text.text-justify {
  color: #444;
  font-size: 1.1em;
  padding: 0 12px;
}

.navbar-brand {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.panel-default > .panel-heading {
  background-color: #f7f7f7;
  border-color: #ddd;
}

.navbar {
  //position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

#app-layout-footer {
  border-top: 1px solid #ccc;
  background: #f7f7f7;
  padding: 20px;
}

.body-info {
  border-bottom: 1px solid #dedede;
}

.navbar.navbar-default .navbar-brand {
  padding: 40px 15px 21px;
}

#header {
  margin-bottom: 20px;
}

#blog, #portfolio, #pricing {
  padding: 0;
}

#blog .blog-post {
  margin-bottom: 10px;
}

footer {
  margin-top: 10px;
}

.form-control {
  border: 1px solid #eee;
}

#pricing ul.pricing {
  margin: 0;
}

#pricing ul.pricing li.plan-header {
  padding: 10px;
}

.panel-body {
  padding: 0;
}

.panel-default > .panel-heading {
  color: #64686d;
}

#pricing ul.pricing li.plan-header .plan-name {
  text-transform: none;
}

.news-feed-time{
  float: left;
  color: #999;
  padding: 4px 5px 0 5px;
}

#pricing ul.pricing li {
  padding: 5px;
}

.full-image {
  width: 400px;
  float: left;
  margin: 0 18px 0 0;
}

.preview-image {
  width: 170px;
  float: left;
  margin: 0 18px 0 0;
}

.description-block {
  height: 90px;
}

.details {
  margin-top: 10px;
}
