//.header {
//  margin-bottom: 70px;
//}

div.choice {
  font-size: 20px;
}

/* Pagination styling */

.pagination {
  display: inline-block;
  padding-right: 0;
  margin: 20px 0;
  border-radius: 4px;
  float: none;
}

.pagination > li {
  display: inline
}

.pagination > li {
  padding: 5px 8px;
}

.pagination > li.active {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #0275d8;
  border-color: #0275d8;
}

.navbar-inverse {
  background-color: #4186ff;
  border-color: #4186ff;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #186cff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #2977ff;
}

.panel-default {
}

.panel-default > .panel-heading {
  color: #333;
}

h4 {
  font-size: 1.3em;
  color: #5a81c3;
}

h3 {
  color: #5a81c3;
}

.btn-primary {
  color: #ffffff;
  background-color: #4186ff;
  border-color: #b7b7b7;
}

.btn {
  border-radius: 20px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0057ef;
  border-color: #7b7b7b;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #4186ff;
  border-color: #486986;
}

legend {
  font-size: 16px;
  color: #848484;
  border-bottom: 1px solid #e5e5e5;
}

.semi-title {
  font-size: 16px;
  font-weight: 600;
}

.panel-default > .panel-heading {
  text-align: center;
}

.panel-heading > h1 {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.badge {
  background-color: #ff8e8e;
}

.panel-heading {
  padding: 5px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

ul.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags-list li {
  padding: 5px;
  border-bottom: 1px solid #dedede;
}

.pagination > li.active {
  background: none;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #1a6bf9;
}

a.news-link {
  color: #565656;
}

.date {
  font-weight: 100;
  color: #888;
  font-size: 0.6em;
}

.author {
  color: #1a6bf9;
  font-weight: 600;
  font-size: 1.2em;
  border-bottom: 2px solid #dedede;
  border-radius: 3px;
  padding: 12px;
  background: #f6f6f6;
}

.media {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #efefef;
}

ul.comments-list {
  padding: 0;
}

.media-text.text-justify {
  color: #444;
  font-size: 1.1em;
  padding: 0 12px;
}

.navbar-brand {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #feffe7;
  border-color: #ddd;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

#wrapper {
  background: url("/images/background.jpg") no-repeat;
  width: 90%;
  margin: 0 auto;
}